{% extends "common.html" %}
{% load pagination_tags %}

{% block content %}
    <div class="row row-cols-2 row-cols-md-4 g-4 mt-2">
        {% for item in object_list %}
            <div class="col">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">{{ item.type }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">
                            <span class="badge bg-light text-dark">{{ item.due|date:'Y년 m월 d일 H시 1분' }}까지</span>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row mt-4">
        <nav class="col-12">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
                    </li>
                {% endif %}

                {% for page in page_obj|slice_visible_pages %}
                    {% if page_obj.number == page %}
                        <li class="page-item active"></li>
                    {% else %}
                        <li class="page-item"></li>
                    {% endif %}

                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
